body {
  background: black;
}

label {
  color: #808080;
}

#page_title{
  color: #808080;
  padding-left: 47%;
  font-size: 75px;
  font-family: Roboto;
}

button {
  margin: 0 20px 0 0;
  width: 83px;
}

video {
   position: fixed;
   top: 50%;
   left: 50%;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -100;
   -ms-transform: translateX(-50%) translateY(-50%);
   -moz-transform: translateX(-50%) translateY(-50%);
   -webkit-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%);
   background: url(polina.jpg) no-repeat;
   background-size: cover;
}

label#status_msg {
  color: red;
  padding-left: 20px;
  font-size: 25px;
}

select#server_select {
  font-size: 25px;
}

div#server_select_block {
  font-size: 25px;
}
